footer {
  font-weight: 500;
}

.footer-top {
  background-color: var(--whiteColor);
  border-top: 1px solid var(--grayColor-alt);
  padding: 5px 10px;
}

.footer-top .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-top .delivery {
  display: flex;
  align-items: center;
}

@media (max-width: 992px) {
  .footer-top .container {
    flex-direction: column;
    text-align: center;
  }

  .footer-top .delivery {
    margin-bottom: var(--margin-10);
  }

  .footer-top .payments-way {
    flex-direction: column;
  }

  .footer-top .payments-way_img {
    margin-top: var(--margin-10);
    margin-right: 0;
  }
}

.footer-top .delivery span {
  margin-left: var(--margin-10);
}

.footer-top .payments-way {
  display: flex;
  align-items: center;
}

.footer-top .payments-way_img {
  max-width: 350px;
  margin-right: var(--margin-10);
}

.footer-middle {
  background-color: var(--darkColor);
  color: var(--whiteColor);
}

.footer-bottom {
  background-color: var(--light-darkColor);
  color: var(--whiteColor);
  padding: 10px;
}

.footer-bottom a {
  color: var(--primaryColor);
}
